<h1>login form</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
   <label>
    username: <input type="text" username="username" formControlName="username" placeholder="username" >
   </label>
    <br><br>
   <label>
     Email:<input type="email" email="email" formControlName="email" placeholder="email" >
   </label>
     <br><br>
    <label>
     password: <input type="password" password="password" formControlName="password" placeholder="password" >
    </label>
    <br><br>
    <button type="submit" [disabled]="!loginForm.valid">login</button>
  
</form>